<aside class="bg-dark">
    <video id="backgroundVideo" autoplay muted loop>
        <source src="video/movie2_website3.mp4" type="video/mp4">
        <!-- Include additional <source> elements for other video formats if needed -->
        Your browser does not support the video tag.
    </video>
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside>
