<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi there!</h2>
                <hr class="light">
                <p class="text-faded">I am Sajay Sunny Mathew and I am a PhD candidate in Astrophysics at the Australian National University. My rsearch focuses on understanding star formation through numerical simulations.</p>
                <a href="#" class="btn btn-default btn-xl">More about me!</a>
            </div>
        </div>
    </div>
</section>
