<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p>An important element of my research is to create high-quality images and movies of my star formation simulations through 3D rendering. See below some of my recent works:</p>
            <div class="movie-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dHYlLgUoMn8?si=5WT7nNwv2N6C-Si0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="movie-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j6iXPQSexpA?si=Nw7KLX85ARDDMZ1a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="movie-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lphp13WPflc?si=D52a656TjyfBS4yC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

